<% if (errors.length > 0) { %> 
<div class="content-alert">
    <p class="alert-error">
        <% errors.forEach(error => { %> 
            <%= error  %><br> 
        <%}) %> 
    </p>
</div>
<% } %> 
<% if (success.length > 0) { %> 
<div class="content-alert">
    <p class="alert-error" style="background-color: rgba(0, 128, 0, 0.24); color: darkgreen;">
        <% success.forEach(success => { %> 
            <%= success  %><br> 
        <%}) %> 
    </p>
</div>
<% } %> 