
<%- include('includes/head.ejs') %>
<%- include('includes/nav.ejs') %>
<main>
    <section class="content-info">
        <h1>Agenda</h1>
        <p>Esses são os seus contatos</p>
        <div class="content-table">
            <table>
                <tr>
                    <td>Raoni</td>
                    <td>Olivera</td>
                    <td>4325124</td>
                    <td>raoni.itar@gmal.com</td>
                </tr>
            </table>
        </div>
    </section>
</main>
<%- include('includes/footer.ejs') %>
