@import './varival.scss';
@import './mixin.scss';
@import './style_error.scss';
@import './style_loginRegister.scss';
html {
  font-size: 62.5%;
}
* {
  padding:0px;
  margin: 0px;
  font-family: sans-serif;
  box-sizing: border-box;
}
body {
  nav {
    @include displayFlex(row, space-between, center);
    width: 100%;
    background-color: rgb(48, 48, 48);
    a {
      color:$font-cor-primaria;
      font-size: 2rem;
      padding:1.5rem;
      text-decoration: none;
    }
    ul {
      @include displayFlex(row, space-between, center);
      list-style: none;
    }
  }
  .content-info {
    @include displayFlex(column, center, center);
    max-width: 60%;
    margin: auto;
    margin-top: 3rem;
    h1 {
      font-size: 3rem;
    }
    p {
      font-size: 2rem;
    }
    .content-alert {
      width: 80%;
      .alert-error {
        padding: 1rem;
        margin-top: 1rem;
        font-size: 1.3rem;
        border-radius: 3px;
        text-align: start;
        color:$font-cor-alerta;
        background-color: $cor-alerta;
      }
    }
    .content-table {
      width: 100%;
      margin-top: 2rem;
      table {
        width: 100%;
        border-collapse: collapse;
        tr {
          border-top: 1px solid rgba(0, 0, 0, 0.473);
          border-bottom: 1px solid rgba(0, 0, 0, 0.473);
          td {
            text-align: start;
            font-size: 1.5rem;
            padding: 1rem;
          }
        }
      }
    }
  }
}